/* this controls some of the responsive behaviours profomed*/
@media screen and (max-width:600px){
    h1{/*changes the font to a size that will be to the same effect on a smaller device*/
        font: 1.2em sans-serif;
    }
    .karakia{/*controls the movemnet of the karakia picture*/
        justify-content: center;
        display:inline-flex;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .menu-img{
       
        width: 600px;
        max-width: 100%;
        max-height: 100%;
    }
    #shop{
        width: 350px;
        max-width: 100%;
        max-height: 100%;
        
    }    
    #map-embed{
        float: right;
        width: 350px;
        height:450px;
        overflow: hidden;
        max-width: 100%;
    }

}
    
/*creating the font for the page*/
@font-face {
    font-family: 'haukai';
    src: url(/fonts/persansb.ttf) format(truetype);
}
/*creating the font for the page*/
@font-face {
    font-family: 'restaurant';
    src: url(/fonts/Asap-Bold.ttf) format(truetype);
}

.topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #d71111;
    color: black;
  }
  
  .topnav a.active {
   
   
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

p{
    font-family:sans-serif;
}
header{
    background-color: rgba(255,0 ,0,0.8);
}

/*setting the font and location for the class*/
.haukai{
   font-family: 'haukai';
   text-align: center;
   align-self: center;
   color: #d7dbda;   
}

/*setting the font and location for the class*/
.restaurant{
   font-family: "restaurant";
   text-align: center;
   color: #b2a799;

}
/*setting the location for the class*/
.headings{
    text-align: center;
    
}
/*setting up the menu bar*/
.menuBar{
    background-color: rgba(255,0 ,0,0.8);
    padding: 10px;
    border: solid;  
}
.quick{
    background-color: rgba(255,0 ,0,0.8);
}
/*setting the style for the class*/
.quick-menu{
    display:flex;
    padding-left: 10%;
}
.menu-fast{
    background-color: rgba(255,0 ,0,0.5);
    padding: 10px;
    border: solid;
    display: flex;
    justify-content:space-evenly;

}
/*setting the container for the div*/
#karakia{
    
    padding-left: 10%;
    justify-content:space-around;  
    clear: both;    
}
#karakia-img{
    width: 350px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.owners{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

/*setting the container for the local div*/
.local {
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
.menu-img{
    height: 65%;
    width: 65%;
    max-width: 100%;
    max-height: 100%;
}
/*setting the text alignment for the local div*/
.local h3,p{
    text-align: center;
}
/*setting the container padding for the local div*/
.local-img{
   
    width: 350px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    

}
/*making the anchor tags have no underline*/
a{
    text-decoration: none;
}
/*changes the anchor tag when hovered over*/
a:hover{
    color: powderblue;
}
/* for the login page form sizing*/
.login-form{
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
 
}
/* for the login page form*/
.form-field{
    margin-bottom: 20px;

}
/* for the login page form*/
.form-field label{
    display: block;
    margin-bottom: 5px;
}
/* for the login page form text boxes and font size*/
.form-field input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
/* for the login page form button colour and size*/
.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* for the login page form button. hover function*/
.login-button:hover {
    background-color: #3e8e41;
}
/* for the login page form button to change colours*/
.login-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#maps{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    clear: both;
    overflow: hidden;
    
}
#map-embed{
    float: right;
    width :600px;
    height:450px;
    overflow: hidden;
    
}
#shop{
    width: 350px;
    max-width: 100%;
    max-height: 100%;
    
}
.calendar{
    position:relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 100%;
}
.sign{
    background-color: greenyellow;
}
.contact-us{
    text-align: center;
}
.contact-us h2{
    font-size: 100px;
}
.column{
    float: left;
    width: 50%;
    padding: 15px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color: rgba(255,0 ,0,0.8);
    /*padding: 10px;*/
    border: solid;
}