/* this controls some of the responsive behaviours profomed*/
@media screen and (max-width:600px){
    h1{/*changes the font to a size that will be to the same effect on a smaller device*/
        font: 1.2em sans-serif;
    }
    .karakia{/*controls the movemnet of the karakia picture*/
        justify-content: center;
        display:inline-flex;
    }
    /*changes the characteristics of the img to be responsive*/
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .one{
        max-width: 100%;
        max-width: 100%;
    }
    .two{
        max-width: 100%;
        max-width: 100%;
    }
    .three{
        max-width: 100%;
        max-width: 100%;
    }
    .four{
        max-width: 100%;
        max-width: 100%;
    }
    .five{
        max-width: 100%;
        max-width: 100%;
    }

    /*changes the characteristics of the shop img to be responsive*/
    #shop{
        width: 350px;
        max-width: 100%;
        max-height: 100%;
        
    }    
    /*changes the characteristics of the map to be responsive*/
    #map-embed{
        float: right;
        width: 350px;
        height:450px;
        overflow: hidden;
        max-width: 100%;
    }
    /*controls the navigation bar*/
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    /*making the navigation bar responsive*/
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    /*setting the navgation bar be responsive*/
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

}

/*creating the font for the page*/
@font-face {
    font-family: 'haukai';
    src: url(/fonts/persansb.ttf) format(truetype);
}
/*creating the font for the page*/
@font-face {
    font-family: 'restaurant';
    src: url(/fonts/Asap-Bold.ttf) format(truetype);
}
/*setting the colour and how the navigation bar does things*/
.topnav {
    overflow: hidden;
    background-color: black;
  }
  /* setting the style for the anchor links*/
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /*controls the colour change of the navigation bar*/
  .topnav a:hover {
    background-color: #d71111;
    color: black;
  }
  /*part of the control of the navigation bar*/
  .topnav .icon {
    display: none;
  }
  /*setting a local font for the p class to follow*/
p{
    font-family:sans-serif;
}
/*setting the colour for the header*/
header{
    background-color: rgba(255,0 ,0,0.8);
}

/*setting the font and location for the class*/
.haukai{
   font-family: 'haukai';
   text-align: center;
   align-self: center;
   color: #d7dbda;   
}

/*setting the font and location for the class*/
.restaurant{
   font-family: "restaurant";
   text-align: center;
   color: #b2a799;

}
/*setting the location for the class*/
.headings{
    text-align: center;
    
}
/*setting up the menu bar*/
.menuBar{
    background-color: rgba(255,0 ,0,0.8);
    padding: 10px;
    border: solid;  
}
.quick{
    background-color: rgba(255,0 ,0,0.8);
}
/*setting the style for the class*/
.quick-menu{
    display:flex;
    padding-left: 10%;
}
/*setting the informaiton for the  quick select menu in the menu page*/
.menu-fast{
    background-color: rgba(255,0 ,0,0.5);
    padding: 10px;
    border: solid;
    display: flex;
    justify-content:space-evenly;

}
/*setting the container for the div*/
#karakia{
    padding-left: 10%;
    justify-content:space-around;  
    clear: both;    
}
/*setting the size of the karakia*/
#karakia-img{
    width: 350px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
/*this controls the picture of the "owners"*/
.owners{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

/*setting the container for the local div*/
.local {
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
/*setting part of the manu as a background image to lay other images ontop*/
.one{

    width:600px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    border: solid #d71111;
    margin: 100px auto;
    padding: 10px;
    background-image: url(../Images/menu1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
   
}
/*setting part of the manu as a background image to lay other images ontop*/
.two{
    position: relative;
    width:600px;
    max-width: 100%;
    height: 650px;
    max-height: 100%;
    border: solid #d71111;
    margin: 100px auto;
    padding: 10px;
    background-image: url(../Images/menu2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.two img{
    position: absolute;
    justify-content: center;
    bottom: 0;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
}
/*setting part of the manu as a background image to lay other images ontop*/
.three{
    position: relative;
    width:600px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    border: solid #d71111;
    margin: 100px auto;
    padding: 10px;
    background-image: url(../Images/menu3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;

}
.three img{
    position: absolute;
    justify-content: center;
    bottom: 0;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
}
/*setting part of the manu as a background image to lay other images ontop*/
.four{
    position: relative;
    width:600px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    border: solid #d71111;
    margin: 100px auto;
    padding: 10px;
    background-image: url(../Images/menu4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;

}
.four img{
    position: absolute;
    justify-content: center;
    bottom: 0;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
}

/*setting part of the manu as a background image to lay other images ontop*/
.five{
    position: relative;
    width:600px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    border: solid #d71111;
    margin: 100px auto;
    padding: 10px;
    background-image: url(../Images/menu5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
.five img{
    position: absolute;
    justify-content: center;
    bottom: 0;
    right: 0;
   
}


.menu-img{
    height: 65%;
    width: 65%;
    max-width: 100%;
    max-height: 100%;
}
/*setting the text alignment for the local div*/
.local h3,p{
    text-align: center;
}
/*setting the container padding for the local div*/
.local-img{
   
    width: 350px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    

}
/*making the anchor tags have no underline*/
a{
    text-decoration: none;
}
/*changes the anchor tag when hovered over*/
a:hover{
    color: powderblue;
}
/* for the login page form sizing*/
.login-form{
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
 
}
/* for the login page form*/
.form-field{
    margin-bottom: 20px;

}
/* for the login page form*/
.form-field label{
    display: block;
    margin-bottom: 5px;
}
/* for the login page form text boxes and font size*/
.form-field input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
/* for the login page form button colour and size*/
.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* for the login page form button. hover function*/
.login-button:hover {
    background-color: #3e8e41;
}
/* for the login page form button to change colours*/
.login-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*setting the location for the map and shop image*/
#maps{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    clear: both;
    overflow: hidden;
    
}
/*setting the embeded map size */
#map-embed{
    float: right;
    width :600px;
    height:450px;
    overflow: hidden;
    
}
/*setting the shop image size*/
#shop{
    width: 350px;
    max-width: 100%;
    max-height: 100%;
    
}
/*setting the position of the calendar with settings to react to screen size*/
.calendar{
    position:relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 100%;
}
/*this is just used to show the login page "login details"?*/
.sign{
    background-color: greenyellow;
}
/*setting text to the center*/
.contact-us{
    text-align: center;
}
/*this is what the colums will do when stacking*/
.column{
    float: left;
    width: 50%;
    padding: 15px;
}
/*this set up a row that will aloow columns to stack*/
.row::after{
    content: "";
    display: table;
    clear: both;
}
/*setting the footer*/
footer{
    background-color: rgba(255,0 ,0,0.8);
    padding: 10px;
    border: solid;
}